.GamePageUser {
    height: 100%;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 2rem;
}

.GamePageUser__image {
    height: 8vh;
    max-width: 8vh;
    border-radius: 50%;
}
.GamePageUser__username {
    color: white;
}

@media (max-width: 420px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    .GamePageUser {
        padding-right: 0.5rem;
    }
    .GamePageUser__image {
        height: 5vh;
        max-width: 5vh;
        border-radius: 50%;
    }
    .GamePageUser__username {
        font-size: 0.7rem;
    }
}
@media (min-width: 481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (max-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
    /* hi-res laptops and desktops */
}
