.GameBoard {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-image: url("https://images5.alphacoders.com/637/thumb-1920-637668.jpg");
}

.GameBoard__answers {
    width: 100%;
    display: grid;
    height: 70%;
    /* overflow: hidden; */
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.GameBoard__question {
    flex-wrap: nowrap;
    /* height: 20vh; */
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: underline;
}

.GameBoard__quote {
    font-size: 1.8rem;
    margin-left: 1em;
    margin-right: 1em;
}

@media (max-width: 420px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    .GameBoard__question {
        font-size: 1.5rem;
    }
    .GameBoard__quote {
        font-size: 1rem;
    }
}
@media (min-width: 481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (max-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
    /* hi-res laptops and desktops */
}
