.GameBoard {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.GameBoard__answers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
