.start-page-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    background-image: url("https://images5.alphacoders.com/637/thumb-1920-637668.jpg");
}

.start-page-form form {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 2rem;
    height: auto;
    justify-content: center;
    color: white;
    border-radius: 1rem;
}

.start-page-form form > * {
    padding: 1rem;
}

.start-page-form__input-group {
    display: flex;
}

/* .start-page-form__input-group input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.start-page-form__input-group label {
    display: inline-block;
    background-color: #ddd;
    color: black;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.start-page-form__input-group label:hover {
    background-color: #dfd;
}

.start-page-form__input-group input[type="radio"]:focus + label {
    border: 2px dashed #444;
}

.start-page-form__input-group input[type="radio"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
} */

/* .start-page-form__input-group label input[type="radio"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
}

.start-page-form__input-group input[type="radio"]:focus + label {
    border: 2px dashed #444;
} */
