.start-page-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    background-image: url("https://images5.alphacoders.com/637/thumb-1920-637668.jpg");
}

.start-page-form form {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 2rem;
    height: auto;
    justify-content: center;
    color: white;
    border-radius: 1rem;
}

.start-page-form form > * {
    padding: 1rem;
}

.start-page-form__input-group {
    display: flex;
    margin-top: 1rem;
}
